$white: #fff;
$black: #000;
$h-green: #6E9C9F;
$coffe: #F1EADC;

* {
    box-sizing: border-box;
}

body {
    color: $black;
    font: 400 15px 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

button,
button:hover,
button:focus {
	outline: none;
	border: none;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul,li {
    display: block;
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.4em;
    letter-spacing: 0.02em;
    @media(max-width:575px) {
        font-size: 16px;
    }
}
a {
    text-decoration: none;
    color: $black;
    display: block;
}

button {
    border: none;   
    background: none;
    display: block;
}
h1{
    @media(max-width:320px) {
        font-size: 40px;
    }
    font: 500 55px 'Raleway', sans-serif;
    line-height: 1.1em;
    letter-spacing: 0.02em;
}

h2{
    @media(max-width:320px) {
        font-size: 30px;
    }
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 0.02em;
}

h3{
    @media(max-width:320px) {
        font-size: 20px;
    }
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}
h4 {
    @media(max-width:320px) {
        font-size: 16px;
    }
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}